---
import react from '@astrojs/react';
import React, { useEffect, useState } from "react";
import axios from "@astrojs/react";
import Container from '../components/Container.astro';

const res = await fetch('http://nym.criptochingaderas.com/list/');
const data2 = await res.json();
---
<div>
</Container> 

  <div class="pt-40  " >
    {data2.map((data) => (
    <div class="shadow-lg rounded-lg overflow-hidden text-purple-300 bg-gray-900 mt-8 mr-4">
      
        
          <h1 class="text-xl pb-4 bg-gray-800 px-4 py-2 font-bold text-center">
            {data.Name} <br /> {data.Description} 
          </h1>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
            <div >
              <h3 class="text-xl">Mix ID: </h3>
              <p class="">{data.Id}</p>
            </div>
            <div>
              <h3 class="text-xl">Host: </h3>
              <p class=""> {data.IP}</p>
            </div>
            <div>
              <h3 class="text-xl">Identity Key: </h3>
              <p class=""> {data.IdentityKey}</p>
            </div>
            <div>
              <h3 class="text-xl">Country: </h3>
              <p class=""> {data.Location}</p>
            </div>
            <div>
              <h3 class="text-xl">Owner:</h3>
              <p class=""> {data.Owner}</p>
            </div>
            <div>
              <h3 class="text-xl">Monthly Earnings:</h3>
              <p class=""> {data.MonthlyEarnings} NYM</p>
            </div>
          </div>
       
      
      
    </div>
    ))}
  </div>
</Container>
</div>  